<!-- <script>
	$(document).ready(function() {

		$('.btn-filter').on('click', function() {
			var $target = $(this).data('target');
			if ($target != 'all') {
				$('.table tr').css('display', 'none');
				$('.table tr[data-status="' + $target + '"]').fadeIn('slow');
			} else {
				$('.table tr').css('display', 'none').fadeIn('slow');
			}
		});

	});
</script> -->
<style>
.content h1 {
	text-align: center;
}

.content .content-footer p {
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
}

.content .content-footer p a {
	color: inherit;
	font-weight: bold;
}
/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}

.panel .btn-group {
	margin: 15px 0 30px;
}

.panel .btn-group .btn {
	transition: background-color .3s ease;
}

.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}

.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}

.table-filter tbody tr.selected td {
	background-color: #eee;
}

.table-filter tr td:first-child {
	width: 38px;
}

.table-filter tr td:nth-child(2) {
	width: 35px;
}

.ckbox {
	position: relative;
}

.ckbox input[type="checkbox"] {
	opacity: 0;
}

.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}

.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}

.table-filter .star.star-checked {
	color: #F0AD4E;
}

.table-filter .star:hover {
	color: #ccc;
}

.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}

.table-filter .media-photo {
	width: 75px;
}

.table-filter .media-body {
	/* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}

.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}

.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}

.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}

.table-filter .media .title span.pagado {
	color: #5cb85c;
}

.table-filter .media .title span.pendiente {
	color: #f0ad4e;
}

.table-filter .media .title span.cancelado {
	color: #d9534f;
}

.table-filter .media .summary {
	font-size: 14px;
}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>AWS EC2 List</h2>
		</div>
	</div>
<!--<div class="row">
		 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="pull-left">
				<div class="btn-group">
					
					 <button ng-repeat="env in awsEc2list.environment" ng-model="env" ng-click="alert('hello');console.log(env);env1 = env;"
					 class="btn btn-success btn-filter" data-target="cancelado">{{env}}</button>
								 
					<button type="button" class="btn btn-default btn-filter" ng-click="temp = 'all'"
						data-target="all">All</button> 
				</div>
			</div>
		</div> 
		</div> -->
	<br>	
		<input class="form-control"  type="text" ng-model="searchall" placeholder="Search..."> 
	<br>
	
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="loader" ng-show="isEc2Listloading">
				<div class="preloader">
					<div class="spinner-layer pl-red">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
				<p>Please wait...</p>

			</div>
			
		<div ng-show="shownullmessage">
				
		<h6>No VPC is whitelistd by Admin thats Why you cannot see any EC2. Ask your Admin to Whitelist Vpc for you</h6>
	</div>

			<div class="table-container" style="overflow: hidden">
				<table class="table table-filter">
					<tbody class="panel-group" id="accordion">
						<tr  ng-repeat="awsEc2 in awsEc2list.instance | filter:searchall">
							<td>
								<div class="media">
									<span class="pull-left" ng-click="selectEc2(awsEc2)"> <img
										src="/images/aws-ec2.png" class="media-photo">
									</span>
									<div class="media-body" >
										<h4 class="title">Name: &nbsp; &nbsp;{{awsEc2.name}}</h4>
										<h4 class="title">State: &nbsp; &nbsp;{{awsEc2.state}}</h4>
										<h6>Launch time: &nbsp; &nbsp; {{awsEc2.createdAt * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</h6>
										
										<h6>Public IP: &nbsp; &nbsp;{{awsEc2.publicIpAddress}}</h6>
										<h6>Private IP: &nbsp; &nbsp;{{awsEc2.privateIpAddress}}</h6>
										<h6>environment: &nbsp; &nbsp; {{awsEc2.envi}}</h6>
										
										<button type="button" class="btn btn-info panel-collapse" data-toggle="collapse" data-parent="#accordion" data-target="{{'#ec2'+$index}}">+</button>
										  <div id="{{'ec2'+$index}}"  class="collapse">
												<h6>Ec2 Id :&nbsp; &nbsp;{{awsEc2.instanceId}}</h6>
												<h6 >Key Name: &nbsp; &nbsp;{{awsEc2.keyName}}</h6>
												<h6 >instanceType: &nbsp; &nbsp; {{awsEc2.instanceType}}</h6>
												<h6>Vpc Id: &nbsp; &nbsp; {{awsEc2.vpcId}}</h6>
												<h6 >subnetId: &nbsp; &nbsp; {{awsEc2.subnetId}}</h6>
												<h6 >Tags: &nbsp; &nbsp; {{awsEc2.tags}}</h6>
										  </div>	
	
									</div>
									
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>